<div class="padded"></div>


<p class="text-center">
  <%= link_to "Back to the list", roadshows_path, class: "btn btn-primary" %>
  <%= link_to "Launch a new research", research_path, class: "btn btn-success" %>
  </p>


<div class="media">
  <div class="media-body">
    <div class="media-section">
      <img src="http://unsplash.it/400/300" alt="kudoz" class="product-image">
    </div>
    <div class="media-section">
      <h4>Website of the company : <%= @roadshow.url %></h4>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2><%= @roadshow.company%></h2>
      <p>
        Announcement message:
      </p>
      <p>
        "<i><%= @roadshow.message %> </i>"
      </p>
    </div>
    <div class="media-section">
      <p>
        Start Date: <%= @roadshow.start_date %>
      </p>
      <p>
        End Date: <%= @roadshow.end_date %>
      </p>
    </div>
    <%= link_to "Modify IP", edit_roadshow_path, class: "btn btn-warning" %>
    <%= link_to "Delete IP", roadshow_path(@roadshow), method: :delete, class: "btn btn-danger" %>

  </div>
</div>
