<h1 class="text-center">
  This is your investor presentation
</h1>

<h2>
  Name of the Company : <%= @roadshow.company%>
</h2>

<h3>
  URL of the company : <%= @roadshow.url %>
</h3>

<p>
  Message : <%= @roadshow.message %>
</p>

<p>
  <%= link_to "Back to the list", roadshows_path%>
</p>

<p>
  <%= link_to "Launch a new research", research_path%>
</p>
