<div class="padded"></div>


<p class="text-center">
  <%= link_to "Back to the list", roadshows_path, class: "btn btn-primary" %>
  <%= link_to "Launch a new research", research_path, class: "btn btn-success" %>
  </p>


<div class="media">
  <div class="media-body">
    <div class="media-section">
      <img src="http://unsplash.it/400/300" alt="kudoz" class="product-image">
    </div>

  </div>
  <div class="media-aside">
    <div class="media-section">
      <h1><%= @roadshow.company%></h1>
      <h6> <%= link_to "Company Website", @roadshow.url %></h6>
      <% if @roadshow.message %>
        <p>
          Roadshow Announcement message:
        </p>
        <p>
          "<i><%= @roadshow.message %> </i>"
        </p>
      <% end %>

    </div>
    <div class="media-section">
      <p>
        Start Date: <%= @roadshow.start_date %>
      </p>
      <p>
        End Date: <%= @roadshow.end_date %>
      </p>
    </div>

    <% if @roadshow.user == current_user %>
      <%= link_to "Modify IP", edit_roadshow_path, class: "btn btn-warning" %>
      <%= link_to "Delete IP", roadshow_path(@roadshow), method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

  <% if @roadshow.presentation? %>
    il y a bien une présentation
    <%= cl_image_tag @roadshow.presentation.path, width: 200 %>
  <% end %>
