<div class="navbar-wagon navbar-wagon-fixed navbar-transparent">

  <% if user_signed_in? %>

    <!-- Logo -->
    <div class="navbar-wagon-logo">
      <%= link_to root_path, {class:"btn navbar-wagon-button", id:"navbar-wagon-logo"} do %>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      <% end %>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div class="navbar-wagon-item">
        <%= link_to root_path(anchor: 'about') do%>
          <p class="navbar-wagon-link">Why EasyIP ?</p>
        <% end %>
      </div>

      <!-- Search form -->
      <form action="/research" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input navse" placeholder="Company name" name="roadshow[company]">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>

      <!-- Button (call-to-action) -->
      <%= link_to "Upload a new IP", new_roadshow_path, class: "btn navbar-wagon-item navbar-wagon-button"%>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <p class="navbar-wagon-link" data-toggle="dropdown">My Profile</p>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "My Presentations", roadshows_path(user_id: current_user.id) %>
              <%= link_to "My Invoices", invoices_path(user_id: current_user.id) %>
              <%= link_to "Edit my Profile", edit_user_registration_path %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>


    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">

      <!-- Search form -->

      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <form action="/research" class="navbar-wagon-search">
              <input type="text" class="navbar-wagon-search-input" placeholder="Company name" name="roadshow[company]">
              <button type="submit" class="navbar-wagon-search-btn">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </li>
          <li><a href="#">View my IP</a></li>
          <li><%= link_to "Edit my Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

        </ul>
      </div>
    </div>

  <% else %>
<!-- Logo -->
    <div class="navbar-wagon-logo">
      <%= link_to root_path, {class:"btn navbar-wagon-button", id:"navbar-wagon-logo"} do %>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      <% end %>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div class="navbar-wagon-item" id="why_logged_out">
        <%= link_to root_path(anchor: 'about') do%>
          <p class="navbar-wagon-link">Why EasyIP ?</p>
        <% end %>
      </div>
      <%= link_to 'Login', "#", data: {toggle: "modal", target: "#login"}, class: "btn navbar-wagon-button", id: "navbar-login-button"%>
    </div>
  <% end %>
</div>

