


<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <div class="logo-navbar">
    <%= link_to "EasyIP", root_path %>
  </div>


  <% if user_signed_in? %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <p class="text-center">Welcome <%= current_user.email %> !</p>
      <!-- Text link -->
      <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <p class="dropdown-toggle navbar-wagon-link" id="navbar-wagon-menu" data-toggle="dropdown">Profile </p>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">My IP</a></li>
            <li>
              <%= link_to "Edit my Profile", edit_user_registration_path %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>

      <!-- Button (call-to-action) -->
      <%= link_to "Upload a roadshow", new_roadshow_path, class: "navbar-wagon-item navbar-wagon-button btn"%>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>

  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn-medium" %>
  <% end %>
</div>

