<div class="padded">
<div>

<div class="container">
  <div class="row">

    <div class="col-sm-4 col-sm-offset4">
      <%= link_to roadshow_path(@roadshow), {class: "btn btn-success"}  do%>
          Back to <%=@roadshow.company%> IP
      <% end %>
    </div>

    <h2>
      List of access to <%= @roadshow.company %> IP
    </h2>

    <table style="width:100%">
      <% @list.each do |access| %>
        <tr>
          <td><%= access.user.email %></td>
          <td> <%= access.start_access %> </td>
        </tr>
      <% end %>
    </table>

  </div>
</div>


