<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="G5UzW0WZ91bGWIutg1qn98_GqNbIi4hWaOhkTbWZpuU" />
    <title>EasyIP</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript"> $(function ()
      { $("#login").modal({show:false });
    </script>
  </head>
  <body>
    <div>
      <%= render "shared/navbar" %>
      <%= render "shared/message" %>
      <%= render "pages/login_modal"%>
      <%= render "pages/signup_modal"%>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
